.link {
    text-decoration: none;
    cursor: pointer;
}

.linkPanel {
    display: flex;
    flex-direction: column;
}

.main {
    display: grid;
    grid-template-columns: 320px 1fr;
    max-width: 1240px;
    gap: 60px;
    margin: 0 auto;
    margin-top: 120px;
}

.profileButton {
    margin-top: 24px;
    margin-right: 10px;
    width: 230px;
}

.exitButton {
    text-align: left;
}