.ingredientsBox {
    max-width: 600px;
}

.ingredientsList {
    overflow-y: scroll;
    max-height: 656px;
    scrollbar-color: #8585AD #2F2F37;
    scrollbar-width: thin;
    max-height: 550px;
}

.ingredientsList::-webkit-scrollbar {
    width: 8px;
}

.ingredientsList::-webkit-scrollbar-track {
    background: #2F2F37;
}

.ingredientsList::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    border-radius: 20px;
    border: solid #2F2F37;
}

.tabsPanel {
    display: flex;
}